
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
table{
    width: 100%;
}
table td,th{
    border: 1px dashed #ddd;
    
}
table th{
  padding:10px 2px;
  text-align: center;
  background: #b7c2c7;
}
